.colours{

    colour: #1A1A1D;
    colour: #4E4E50; 
    colour: #6F2232;
    colour: #950740;
    colour: #C3073F;



    colour:#6340a2;
    colour:#240D8F;
    colour:#87D937;
    colour:#31C8DF;
    colour:#49E090;
    colour:#FCAB70;
    colour:#003781;
    colour:#F452CA;
    colour:#6340a2;
     
}