/* Custom Navbar Styles */
.navbar-background {
  
  background-color: rgba(255, 255, 255, 0.456) !important;  
  backdrop-filter: blur(100px) !important; /* Background color */
}
.navbar-brand {
  
  margin-left: 40px;
  margin-right: 50px;
  padding-right: 10px;
  font-size: 25px;
  color: #C3073F!important; /* Brand color */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  font-weight: bold; /* Brand font weight */
 
}

.navbar-toggler{
color: #C3073F;
}
.navbar-nav .nav-link {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color:#C3073F !important; /* Link color */
  font-size: 20px;
    
}
.navbar-btn {
  background-color: #950740;
  border: none;
  border-radius: 5px;
  margin-right: 15px;
  margin-left: 5px;
  padding: 8px 25px; /* Adjust padding as needed */
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition for transform and box-shadow */
}
.navbar-btn:hover {
  background-color:#C3073F;
  transform: scale(1.05); /* Increase scale on hover */
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.767); /* Add box shadow on hover */
}
